        <div class="nav_bar">
            <div class="header_div">
                <h1 class="logo">Hello.</h1>
                <div class="nav_icon">
                    <i class="fas fa-bars active"></i>
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <ul class="nav_link">
                <li class="nav_item" id="home_nav"><a href="/">Home</a></li>
                <li class="nav_item" id="about_nav"><a href="/about">About</a></li>
                <li class="nav_item" id="contact_nav"><a href="/contact">Contact</a></li>
                <li class="nav_item" id="join_nav"><a href="/joinus">Join Us</a></li>
            </ul>
        </div>