<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <link rel="shortcut icon" href="./img/volume-up-solid.svg" type="image/x-icon">
    <title>Contact</title>
</head>

<body>
    <header style="height: calc(40vh + 50px);">
        {{>navbar}}

        <div class="title_box">
            <h1>Contact Us</h1>
        </div>
    </header>
    <section class="contact_area">
        <div style="height: 150px; width: 100vw; overflow: hidden;">
            <svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%; background: transparent;">
                <path d="M-0.27,54.77 C248.02,117.92 245.77,-0.48 500.84,73.52 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #ECF0F1;">
                </path>
            </svg>
        </div>
        <div class="form_container" style="background: #ecf0f1;">
            <div class="contact_info">
                <div class="contact_link" id="location">
                    <i class="fas fa-map-marker-alt"></i>
                    <h3>782 High Rd, Tottenham, London N17 0BX, United Kingdom</h3>
                </div>
                <div class="contact_link" id="mailid">
                    <i class="far fa-envelope"></i>
                    <a href="mailto:adele@xyz.com">adele@xyz.com</a>
                </div>
                <div class="contact_link" id="phone_no">
                    <i class="fas fa-phone-square-alt"></i>
                    <a href="tel:+1234567890">+1234567890</a>
                </div>
            </div>
            <div class="from_area">
                <img class="form_img" src="img/adele-3.jpg" alt="">
                <form class="contact_form" action="" method="post">
                    <div class="form_name">
                        <div class="input_area">
                            <input type="text" name="name" id="first_name" required>
                            <span>First Name</span>
                        </div>
                        <div class="input_area">
                            <input type="text" name="name" id="last_name" required>
                            <span>Last Name</span>
                        </div>
                    </div>
                    <div class="input_area">
                        <input type="email" name="email" id="email" required>
                        <span>Email</span>
                    </div>
                    <div class="input_area">
                        <textarea name="" id="text_area" required></textarea>
                        <span>Write Your Message</span>
                    </div>
                    <input type="submit" value="SUBMIT">
                </form>
            </div>
        </div>
    </section>

    {{>footer}}
    <script src="./js/script.js"></script>
</body>

</html>