<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <link rel="icon" href="img/volume-up-solid.svg" type="image/svg">
    <title>Hello...</title>
</head>

<body>
    <header>
        {{>navbar}}
        <div class="banner">
            <img src="./img/vector illustration for a musical_4241340.png" alt="">
            <div class="banner_content">
                <h2>Hello from the other side</h2>
                <p>Hello, it's me.
                    I was wondering if after all these years you'd like to meet,
                    To go over everything,
                    They say that time's supposed to heal ya
                    But I ain't done much healing.</p>
                <a class="button" href="https://www.adele.com/" target="_blank" rel="noopener noreferrer">Read More</a>
            </div>
        </div>
    </header>
    <div style="height: 150px; width: 100vw; overflow: hidden; position: relative; z-index: 2;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-0.27,54.77 C248.02,117.92 245.77,-0.48 500.84,73.52 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgba(0, 0, 0, 1);"></path></svg></div>
    <section class="skill">
        <h1 class="title">Skill</h1>
        <div class="skill_content">
            <div class="skill_item white">
                <div class="front_side">
                    <i class="fas fa-music fa-4x"></i>
                    <h2>Music</h2>
                </div>
                <div class="back_side">
                    <h2>Music</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse, laudantium.</p>
                    <a class="button" href="https://www.adele.com/" target="_blank" rel="noopener noreferrer">Read More</a>
                </div>
            </div>
            <div class="skill_item black">
                <div class="front_side">
                    <i class="fas fa-icons fa-4x"></i>
                    <h2>Albums</h2>
                </div>
                <div class="back_side">
                    <h2>Albums</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse, laudantium.</p>
                    <a class="button" href="https://www.adele.com/" target="_blank" rel="noopener noreferrer">Read More</a>
                </div>
            </div>
            <div class="skill_item white">
                <div class="front_side">
                    <i class="fas fa-file-audio fa-4x"></i>
                    <h2>Compose</h2>
                </div>
                <div class="back_side">
                    <h2>Compose</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse, laudantium.</p>
                    <a class="button" href="https://www.adele.com/" target="_blank" rel="noopener noreferrer">Read More</a>
                </div>
            </div>
            <div class="skill_item black">
                <div class="front_side">
                    <i class="fas fa-compact-disc fa-4x"></i>
                    <h2>Digital Play</h2>
                </div>
                <div class="back_side">
                    <h2>Digital Play</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse, laudantium.</p>
                    <a class="button" href="https://www.adele.com/" target="_blank" rel="noopener noreferrer">Read More</a>
                </div>
            </div>
        </div>
    </section>
    <section class="gallary">
        <div style="height: 150px; width: 100vw; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;background: #ecf0f1;"><path d="M0.00,49.98 C149.99,150.00 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill:rgb(0, 0, 0);"></path></svg></div>
        <div class="gallary_content">
            <h1 class="title">Gallary</h1>
            <div class="gallary_items">
                <div class="inner_img image_no_1">
                    <div class="gal_img_title">
                        <a class="button" href="https://www.adele.com/" target="_blank" rel="noopener noreferrer">Read More</a>
                    </div>
                </div>
                <div class="inner_img image_no_2">
                    <div class="gal_img_title">
                        <a class="button" href="https://www.adele.com/" target="_blank" rel="noopener noreferrer">Read More</a>
                    </div>
                </div>
                <div class="inner_img image_no_3">
                    <div class="gal_img_title">
                        <a class="button" href="https://www.adele.com/" target="_blank" rel="noopener noreferrer">Read More</a>
                    </div>
                </div>
                <div class="inner_img image_no_4">
                    <div class="gal_img_title">
                        <a class="button" href="https://www.adele.com/" target="_blank" rel="noopener noreferrer">Read More</a>
                    </div>
                </div>
                <div class="inner_img image_no_5">
                    <div class="gal_img_title">
                        <a class="button" href="https://www.adele.com/" target="_blank" rel="noopener noreferrer">Read More</a>
                    </div>
                </div>
                <div class="inner_img image_no_6">
                    <div class="gal_img_title">
                        <a class="button" href="https://www.adele.com/" target="_blank" rel="noopener noreferrer">Read More</a>
                    </div>
                </div>
            </div> 
        </div>
    </section>
    <section class="testimonial">
        <div style="height: 150px; width: 100vw; overflow: hidden;"><svg viewBox="0 0 500 150"
                preserveAspectRatio="none" style="height: 100%; width: 100%; background: #ecf0f1;">
                <path d="M0.00,49.98 C150.00,150.00 351.94,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none;  fill: black"></path>
            </svg></div>
        <div class="test_content">
            <h1 class="title">Fan's Talk</h1>
            <div class="test_item">
                <div class="card">
                    <h2><span>“</span>Lorem ipsum, dolor sit amet consectetur adipisicing elit.<span>”</span></h2>
                    <img src="./img/adele-3.jpg" alt="">
                </div>
                <div class="card">
                    <h2><span>“</span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt, nihil.<span>”</span></h2>
                    <img src="./img/adele-4.jpg" alt="">
                </div>
                <div class="card">
                    <h2><span>“</span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt, nihil.<span>”</span></h2>
                    <img src="./img/adele-5.jpg" alt="">
                </div>
                <div class="card">
                    <h2><span>“</span>Lorem, ipsum dolor sit amet consectetur adipisicing elit.<span>”</span></h2>
                    <img src="./img/adele-2.jpg" alt="">
                </div>
            </div>
        </div>
    </section>





    {{>footer}}
    <script src="./js/script.js"></script>
</body>

</html>